*{
    scroll-behavior: smooth;
}
html{
    overflow-x: hidden;
}
.Main{
    width:100%;
}
.navbar {
    justify-content: center;
    margin-top: 15px;

}
.active {
    color: black;
    padding: 50px;
   font-family: 'Times New Roman', Times, serif;
   cursor: pointer;
   text-decoration: none;
}
.active:hover{
    font-weight: bolder;
    color:blue;
    text-decoration: none;
}
.logo {
    margin-left:52px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

.rightmenu .pages{
    text-decoration: none;
    height: 20px;
}
.pages{
    color: black;
    padding: 50px;
   font-family: 'Times New Roman', Times, serif;
   cursor: pointer;
}
.pages:hover{
    font-weight: bolder;
    color:blue;
}
.herosection{
    display: flex;
}
.content{
    width: 494px;
    height: 267.63px;
    margin-top: 80px;
  
}
.content h3{
    padding-left:55px;
}

.content .contenttext{
    color: grey;
    margin-top:20px;
    padding-left:55px;

}
.content .dot{
    margin-top: 35px;
    position: absolute;

}
.content .contentbt{
    background-color: blue;
    color: azure;
    border-radius: 60px;
    border-color: blue;
    height:50px;
    width:180px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin-left: -140px;
    
}
.content .contentbt:hover{
    background-color: black;
    border-color: black;
}
.contentimg{
    position: relative;
}
.contentimg .mainimg{
    margin-left: 215px;
    position:relative;
    margin-top:25px;

}
.contentimg .upperellipse{
    position:absolute;
    margin-top:25px;
    margin-left: 160px;
}
.clients{
    margin-top:55px;
    display: flex;
    height: 124px;
    margin-left:120px;
  
    
}
.clientstext p{
    width: 336px;
    color: grey;
}
.clients .clientsimg{
    margin-left:95px;
    margin-top:30px;
}
.clientsimg img{
   margin-right:50px;

}
.clientsimg .Amazon{
    margin-top:20px;
}
.services{
    display: flex;
    margin-top:50px;
}
.services .servicestext{
    position: relative;
    margin-left:85px;
    margin-top: 130px;
}
.servicestext .Rectangle25{
    position: absolute;
}
.servicestext .dot2{
    margin-top:185px;
    
}
.servicestext h3,p{
    position: relative;
    width: 396px;
    height: 180px;
}
.servicestext h3{
    padding-top:90px;
    padding-left:35px;
}

.services .background{
    background-color:rgb(245, 250, 251);
    height: 814px;
    width: 1241px;
    border-top-left-radius:150px;
    position: relative;
}
.background .businessplanning{
    background-color: white;
    height:379px ;
    width: 308px;
    border-radius:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left:170px;
    position: absolute;
}
.background .financialplanning{
    background-color: white;
    height:379px ;
    width: 308px;
    border-radius:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left:650px;
    margin-top:80px;
    position: absolute;
}
.background .webdevelopment{
    background-color: white;
    height:379px ;
    width: 308px;
    border-radius:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    margin-top:425px;
    margin-left:170px;

}
.background .marketanalysis{
    background-color: white;
    height:379px ;
    width: 308px;
    border-radius:40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    margin-left:650px;
    margin-top:510px;
}
.background .dot3{
    position:relative;
    margin-top:700px;


}
.businessplanning .box{
    background-color:rgb(227, 244, 247);
    height: 121px;
    width: 121px;
    justify-content: center;
    border-radius:20px;
    margin-left:30%;
    margin-top: 20%;
}
.businessplanning .box img{
    height: 74px;
    width: 74px;
    margin-left:15%;
    margin-top: 20%;
}
.businessplanning h4{
    margin-top: 10px;
    margin-left: 80px;
}
.businessplanning p{
width: 245px;
margin-left: 40px;
margin-top: 10px;
}
.financialplanning .box2{
    background-color:rgb(253, 237, 239);
    height: 121px;
    width: 121px;
    justify-content: center;
    border-radius:20px;
    margin-left:30%;
    margin-top: 20%;
}
.financialplanning img{
    height: 74px;
    width: 74px;
    margin-left:23px;
    margin-top: 20%;

}
.financialplanning h4{
    margin-top: 10px;
    margin-left: 55px;
}
.financialplanning p{
    margin-left: 45px;
    margin-top: 10px;

}
.webdevelopment .box3{
    background-color:rgb(249, 229, 249);
    height: 121px;
    width: 121px;
    justify-content: center;
    border-radius:20px;
    margin-left:30%;
    margin-top: 20%;
}
.webdevelopment img{
    height: 74px;
    width: 74px;
    margin-left:23px;
    margin-top: 20%;

}
.webdevelopment h4{
    margin-top: 10px;
    margin-left: 55px;
}
.webdevelopment p{
    margin-left: 45px;
    margin-top: 10px;
}
.marketanalysis .box4{
    background-color:rgb(229, 249, 229);
    height: 121px;
    width: 121px;
    justify-content: center;
    border-radius:20px;
    margin-left:30%;
    margin-top: 20%;
}
.marketanalysis img{
    height: 74px;
    width: 74px;
    margin-left:23px;
    margin-top: 20%;

}
.marketanalysis h4{
    margin-top: 10px;
    margin-left: 65px;
}
.marketanalysis p{
    margin-left: 45px;
    margin-top: 10px;
}
.product{
    margin-top: 150px;
    display: flex;
    margin-left:80px;
    
}
.video{
    position: relative;
}
.videoimg{
    position:absolute;
    width: 550px;
    height: 372px;
}
.video .playbutton img{
    height: 70px;
    width: 70px;
    position:absolute;
    margin-left:230px;
    margin-top:132px;
}
.video .ellipse86{
    margin-left: 415px;
    margin-top:250px;
}
.product .productrect{
    position: relative;
    margin-left:85px;
    margin-top:70px;
}
.productrect img{
    height: 158px;
    font-weight: 158px;
}
.productrect .Rectangle26{
    position:absolute;
}
.productrect h3,p{
    position:relative;
}
.productrect h3{
    margin-left:55px;
    margin-top: 30px;
}
.productrect p{
    margin-left:55px;
    margin-top:35px;
    width: 532px;
    color: grey;
}
.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .carousel-item  p{
    margin-left:550px;
  }
.containermt-5{
 margin-top:50px;
 background: url(./images/176.jpg) no-repeat center center border-box ;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-size: cover;
}
.containermt-5 .mb-4,.header{
    margin-left: 550px;
}
.containermt-5 .header{
    width: 500px;

}
.contact{
    margin-top: 100px;
    position: relative;
}
.contact .backgroundcontact{
    background-color:rgb(245, 250, 251);
    height:300px;
    width:1197px;
    margin-left:140px;
    border-radius:80px;
    position:absolute;
    margin-top: 60px;
}
.backgroundcontact .bluepart{
    background-color: blue;
    height: 292px;
    width: 543px;
    border-top-left-radius:40%;
    border-bottom-left-radius:40%;
    border-top-right-radius: 100px;
    border-bottom-right-radius:100px;
    margin-left:600px;
    position: relative;
    margin-top: -325px;
}
.bluepart .emailpart{
    background-color:white;
    width: 479px;
    height: 80px;
    border-radius: 60px;
    margin-left: -50px;
    position: absolute;
    margin-top: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact .contactemail{
   color: grey;
   border: none;
   width: 190px;
   margin-left: 20px;
   border-style: none;
   outline: none;
}
.contact .contactbt{
         background-color: blue;
         color: white;
         height: 50px;
         width:150px;
         border-radius: 30px;
         border-style: none;
         margin-top: 15px;
         margin-left: 100px;
}
.contactbt:hover{
    background-color: black;
}
.contact .backgroundcontact h2,p{
    position: relative;
}
.contact .Rectangle32{
              position: absolute;
                margin-left: 90px;
                margin-top: 230px;  
}
.contact .contactdot{
    position: absolute;
   margin-left:1180px;
}
.contact .contacttext{
    margin-left: 80px;
    margin-top: 80px;
}
.contacttext p{
    color: grey;
    width: 588px;
}
.footer{
    margin-top: 600px;
    width: 1200px;
    margin-left: 150px;
}
.row p{
    margin-top: 15px;
    color: grey;
}

.text-muted{
    text-decoration: none;
}

.fa {
    padding: 12px;
    width: 23.49px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
    width: 36px;
    height: 36px;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 36px;
    height: 36px;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
    width: 36px;
    height: 36px;
  }
  .copyright{
    margin-left: 650px;
  }
.copyright p{
    color: grey;
}